<%- include("./partials/header") %>
<h1><%= title %></h1>

<form method="post">
  <div class="form-group">
    <label for="book">Book:</label>
    <select name="book" id="book" class="form-control" required>
      <option value="">--Please select a book--</option>
      <% book_list.forEach(book => { %>
        <% if(locals.selected_book && selected_book == book._id.toString()) { %>
          <option value="<%= book._id%>" selected><%= book.title %></option>
        <% } else { %>
          <option value="<%= book._id%>"><%= book.title %></option>
          <% } %>    
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="imprint">Imprint:</label>
    <input type="text"
      id="imprint"
      class="form-control"
      placeholder="Publisher and date information"
      name="imprint"
      value="<%= locals.bookinstance ? bookinstance.imprint : "" %>"
      required
    >
  </div>
  <div class="form-group">
    <label for="due_back">Date when book available:</label>
    <input type="date"
      id="due_back"
      class="form-control"
      name="due_back"
      value="<%= locals.bookinstance ? bookinstance.due_back_yyyy_mm_dd : "" %>"
      required
    >
  </div>
  <div class="form-group">
    <label for="status">Status:</label>
    <select name="status" id="status" class="form-control" required>
      <option value="<%= locals.bookinstance ? bookinstance.status : "" %>"><%= locals.bookinstance ? bookinstance.status : "--Please select a status" %></option>
      <% ["Maintenance", "Available", "Loaned", "Reserved"].forEach(status => { %>
        <% if(locals.bookinstance && bookinstance.status === status) { %>
          <option value="<%= status %>" selected><%= status %></option>
        <% } else { %>
          <option value="<%= status %>"><%= status %></option>
        <% } %>    
      <% }) %>
    </select>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<% if(locals.errors) { %>
  <ul>
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>
<%- include("./partials/footer") %>