<h1>Title: {{title}}</h1>
<p>
  <strong>Author: </strong>
  <a href={{book.author.url}}>{{book.author.name}}</a>
</p>
<p>
  <strong>Summary: </strong>
  {{book.summary}}
</p>
<p>
  <strong>ISBN: </strong>
  {{book.isbn}}
</p>
<p>
  <strong>Genre: </strong>
  {{#each book.genre}}
    <a href={{this.url}}>{{this.name}}</a>,&nbsp;
  {{/each}}
</p>
<div style="margin-left:20px;margin-top:20px">
  <h2 style="font-size: 1.5rem;">Copies</h2>
  {{#if book_instances.length}}
    {{#each book_instances}}
      <hr />
      {{#ifEquals this.status "Available"}}
        <p class="text-success">{{this.status}}</p>
      {{else ifEquals this.status "Maintenance"}}
        <p class="text-danger">{{this.status}}</p>
      {{else}}
        <p class="text-warning">{{this.status}}</p>
      {{/ifEquals}}
      <p>
        <strong>Imprint: {{this.imprint}}</strong>
      </p>
      {{#ifNotEquals this.status "Available"}}
        <p>
          <strong>Due Back: </strong>
          {{this.due_back}}
        </p>
      {{/ifNotEquals}}
      <p>
        <strong>Id: </strong>
        <a href={{this.url}}>{{this._id}}</a>
      </p>
    {{/each}}
  {{else}}
    <p>There are no copies of this book in the library</p>
  {{/if}}
</div>