<%- include("./partials/header") %>
<h1><%= title %></h1>

<form method="post" autocomplete="off">
  <div class="form-group">
    <label for="name">Genre:</label>
    <input id="name" class="form-control" type="text" placeholder="Fantasy, Poetry etc."
    name="name" value="<%= locals.genre ? genre.name : "" %>" required
    />
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<% if(locals.errors) { %>
<ul>
  <% errors.forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %> <%- include("./partials/footer") %>
