<h1>Genre: {{genre.name}}</h1>
<div style="margin-left:20px;margin-top:20px">
  <h2 style="font-size: 1.5rem;">Books</h2>
  {{#if genre_books.length}}
    <dl>
      {{#each genre_books}}
        <dt>
          <a href={{this.url}}>{{this.title}}</a>
        </dt>
        <dd>{{this.summary}}</dd>
      {{/each}}
    </dl>
  {{else}}
    <p>This genre has no books.</p>
  {{/if}}
</div>